<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">
                    <div class="card-title">修改密码</div>
                </header>
                <div class="card-body">
                    <form id="resetPasswordForm" method="post" action="/Home/ResetPassword" class="site-form">
                        <div class="mb-3">
                            <label for="old-password">旧密码</label>
                            <input type="password" class="form-control" name="OldPassword" id="old-password" placeholder="输入账号的原登录密码" required>
                        </div>
                        <div class="mb-3">
                            <label for="new-password">新密码</label>
                            <input type="password" class="form-control" name="NewPassword" id="new-password" placeholder="输入新的密码" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password">确认新密码</label>
                            <input type="password" class="form-control" name="ConfirmPassword" id="confirm-password" placeholder="确认输入新的密码" required>
                        </div>
                        <button type="submit" class="btn btn-primary">修改密码</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            // 表单提交
            $('#resetPasswordForm').submit(function(e) {
                e.preventDefault();

                const form = $(this);
                const formData = form.serialize();

                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            if (response.redirectUrl) {
                                // 如果有 redirectUrl，则重定向
                                window.parent.location.href = response.redirectUrl;
                                }else{
                                    showToast(response.message);
                                            form[0].reset(); // 重置表单
                                }
                        } else {
                            showToast(response.message, true);
                        }
                    },
                    error: function(xhr, status, error) {
                        const errorMsg = xhr.responseJSON?.message || xhr.statusText || '服务器错误';
                        showToast('操作失败: ' + errorMsg, true);
                    }
                });
            });
        });

    </script>
}
